html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;

  background-image: url("../resources/images/space-cropped.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.room-gui {
  display: inline-block;
  height: auto;
  padding-right: 20px;
}

.game_explanation {
  display: inline-block;
  background-color: #00000080;
  padding: 20px;
  border: 1px solid #ddd;
}

.room-explanation-wrapper {
  display: flex;
  justify-content: center;
}

.controls {
  margin-top: 10px; /* Space between the table and this div */
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  color: white;
  font-size: xxx-large;
  display: block;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 550px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #04AA6D;
  color: white;
}

th:nth-child(1), td:nth-child(1) {
  width: 80%;
}

th:nth-child(2), td:nth-child(2) {
  width: 20%;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 8px 12px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}

button:hover {
  background-color: #037f58;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

p {
  color: white;
  font-size: larger;
}